body {
  font-family: 'Arial', sans-serif;
  margin: 3rem;
  padding: 2rem;
  background-color: hsl(13, 31%, 94%);
  color: black;
}

img {
  position: relative;
  max-width: 100%; /* Ensures the image is responsive */
  height: 230px;
  display: block; /* Prevents any inline spacing around images */
  border-radius: 8px;
  margin-bottom: 35px;
}

.desserts-grid {
  position: absolute;
  margin-right: 270px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 10px; /* Space between the items */
}

.cartcontainer {
    background-color: #f9f9f9;
    padding: 30px;
    max-width: 100%;
    border-radius: 12px;
    display: block;
    text-align: center;
    position: fixed;
    margin-left: 800px;
    margin-top: -50px;
    width: 300px;    /*don't define height if you want to add items in cart and adjust the container size according to items*/
}

.cartcontainer h3 {
  font-size: 22px;
  color: #d35400;
  margin: 10px;
  margin-right: 150px;
}

.cartcontainer img {
  width: 100%;
  height: 100px;
  margin: 10px 0;
}

.cartcontainer p {
  font-size: 12px;
  color: #555;
  margin: 10px;
}

.cart-items {
  font-weight: bold;
  font-size: 12px;
  color: #333;
  margin: 5px 0;
}

.subtotal {
  font-weight: bold;
  font-size: 14px;
  color: #d35400;
  margin-bottom: 15px;

}

.confirm-order {
  padding: 10px 15px;
  background-color: #d35400;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

.confirm-order:hover {
  background-color: #c0392b;
}

.products p {
  font-size: 9px;
  color:#555;
  margin-bottom: 10px;
}

.products b {
  font-size: 11px;
  color: black;
}

.products span{
  font-size: 11px;
  color: brown;
}

.add-to-cart {
  position: absolute;
  display: flex; /* Align icon and text in a row */
  align-items: center; /* Center vertically */
  justify-content: space-between;
  padding: 10px 20px;
  margin-left: 67px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid  #333;
  border-radius: 50px;
  font-size: 14px;
  color: black;
  cursor: pointer;
  text-align: center;
  margin-top: -105px;
  width: 110px;
  height: 10px;
}

.add-to-cart .icon {
  padding: -15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 20px;
  max-height: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  margin-right: 2px;
}

.add-to-cart:hover {
  background-color: #d35400;
  color: white;
}

.add-to-cart:hover .icon {
  filter: brightness(0) invert(1);
}

.remove-item {
  background-color: white;
  border-color: grey;
  cursor: pointer;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.confirmation-container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.confirmation-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 470px;
}

.confirmation-content p{
  font: normal;
  margin-right: 250px;
  font-size: small;
}

.confirmation-container h2 {
  color: black;
  margin-right: 250px;
}

.confirmation-container h3 {
  color: black;
  font-size: small;
}

.confirmation-container ul {
  list-style: none;
  padding: 0;
}

.confirmation-container .new-order-button {
  padding: 10px 15px;
  background-color: #d35400;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 15px;
  width: 100%;
}

.confirmation-container .new-order-button:hover {
  background-color: #c0392b;
}